.awasqa-post-heading {
    padding: 0 !important;

    .wp-block-column:first-child {
        display: flex;
        flex-direction: column;

        >div {
            margin: auto 0;
        }
    }

    .wp-block-post-featured-image {
        height: 100%;
        position: relative;

        &::before {
            content: "";
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 28.52%);
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        img {
            border-radius: 0;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* No margin on block after post heading 
   to prevent gap between heading background
   and content background */
.awasqa-post-heading+* {
    margin-top: 0;
}

@media (min-width: 782px) {
    .awasqa-post-heading {
        .wp-block-column:first-child {
            flex: 0 0 calc(66.66% - 2.25rem) !important;
        }

        .wp-block-column:last-child {
            flex: 0 0 calc(33.33% + 2.25rem) !important;
        }
    }
}