.single-post {
    .awasqa-post-heading {
        margin-top: -6rem;

        a {
            color: white;
        }
    }
}

.awasqa-post-heading {
    .wp-block-post-featured-image {
        height: 100%;
        position: relative;

        &::before {
            content: "";
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 28.52%);
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        img {
            border-radius: 0;
            height: 100%;
            object-fit: cover;
        }
    }
}

.awasqa-post-heading {
    >.wp-block-column:first-child {
        padding: 6rem 0 !important;
    }
}