:root {
    --color-orange: #FDA700;
    --color-yellow: #F7FFCE;
    --color-green: #465300;
    --color-green-lighter: #465300B2;
    --color-green-lightest: #4653001F;

    --font-family-serif: 'Instrument Serif', serif;
    --font-family-sans-serif: 'Aktiv Grotesk', sans-serif;
    --font-size-large: 2.75rem;
}
