:root {
    --button-default {
        background-color: var(--color-green-lighter);
        border-radius: 0.25rem;
        color: var(--color-green);
        display: inline-block;
        font-size: 0.875rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        text-decoration: none;
        text-transform: uppercase;

        &:focus, &:hover {
            background-color: var(--color-orange);
        }
    }

    --button-inverse {
        border: 1px solid var(--color-green);
        background-color: var(--color-green);
        border-radius: 0.25rem;
        color: var(--color-yellow);
        display: inline-block;
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:focus, &:hover {
            background-color: var(--color-green-lighter);
            color: var(--color-green);
        }
    }

    --button-outline {
        border: 1px solid var(--color-green);
        border-radius: 0.25rem;
        color: var(--color-green);
        display: inline-block;
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &:focus, &:hover {
            background-color: var(--color-green-lighter);
        }
    }
}

.button-default {
    @apply --button-default;
}

.button-outline {
    @apply --button-default;
}