:root {
    --star-header {
        align-items: center;
        display: flex;
        gap: 0.5rem;

        &::before {
            content: "";
            align-items: center;
            background-image: url("/app/themes/awasqa/assets/images/awasqa-symbol.svg");
            background-position: center;
            background-repeat: no-repeat;
            height: 25px;
            width: 25px;
        }

        &::after {
            content: "";
            border-top: 1px solid var(--color-orange);
            flex-grow: 1;
        }
    }
}

h6 {
    @apply --star-header;
}

.bbp-user-profile {
    h2 {
        @apply --star-header;
    }
}