header {
    height: 6rem;
    position: relative;
    z-index: 1;

    nav:first-of-type {
        margin: 0 0.5rem 0 auto;
    }
    nav:last-of-type {
        border-left: 1px solid var(--color-green-lightest);
        padding: 0.5rem 0 0.5rem 2.5rem;
    }
    .nav-language-switcher {
        margin-right: auto;
    }
}

/* Improve contrast on single post page */
.single-post {
    header {
        a {
            color: var(--color-yellow) !important;
        }
    }
}