:root {
    --link-arrow {
        align-items: center;
        color: var(--color-green-lighter);
        display: inline-flex;
        text-decoration: none;

        &::after {
            content: "";
            background-image: url("/app/themes/awasqa/assets/images/arrow-right-lighter.svg");
            background-position: center;
            background-repeat: no-repeat;
            height: 0.75rem;
            margin-left: 0.5rem;
            width: 1rem;
        }

        &:hover,&:focus {
            text-decoration: underline;
        }
    }
}

.awasqa-link-arrow {
    @apply --link-arrow;
}