/* Alter margin-top on first block after the navbar */
.wp-site-blocks {
    header + * {
        margin-top: 1.25rem;
    }
}

.wp-block-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    margin-bottom: 6rem;
    padding-left: 0;

    a {
        @apply --button-default;
    }

    a.active {
        @apply --button-active;
    }
}

.wp-block-post-featured-image {
    margin-bottom: 0.875rem;

    img {
        border-radius: 0.5rem;
    }
}

.wp-block-post-excerpt__more-text {
    margin-top: 0.875rem;
}
