/* Alter margin-top on first block after the navbar */
.wp-site-blocks {
    header+* {
        margin-top: 1.25rem;
    }
}

.wp-block-button.is-style-outline {

    a,
    button {
        @apply --button-outline;
    }
}

.wp-block-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    margin-bottom: 6rem;
    padding-left: 0;

    a {
        @apply --button-default;
    }

    a.active {
        @apply --button-active;
    }
}

.wp-block-post-featured-image {
    margin-bottom: 0.875rem;

    img {
        border-radius: 0.5rem;
    }
}

.wp-block-post-excerpt__more-text {
    margin-top: 0.875rem;
}

.wp-block-post-title {
    &::before {
        background-size: cover;
        height: 50px;
        width: 50px;
    }
}

.wp-block-loginout a {
    @apply --button-inverse;
    font-size: 1rem !important;
}

.wp-block-site-title {
    text-transform: uppercase;
}

.has-xx-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

@media (min-width: 782px) {
    .has-xx-large-font-size {
        font-size: var(--wp--preset--font-size--xx-large) !important;
    }
}