:root {
    --color-orange: #FDA700;
    --color-yellow: #F7FFCE;
    --color-green: #465300;
    --color-green-lighter: #465300B2;
    --color-green-lightest: #4653001F;

    --font-family-serif: 'Instrument Serif', serif;
    --font-family-sans-serif: 'Aktiv Grotesk', sans-serif;
    --font-size-large: 2.75rem;
}
.page-about-contents ul {
        list-style: none;
        padding-left: 0.25rem;
    }
.page-about-contents a {
        text-decoration: none;
    }
.page-about-contents a:hover,.page-about-contents a:focus {
            text-decoration: underline;
        }
.page-about-contents a.active {
        text-decoration: underline;
    }
.page-about-contents a.active:hover,.page-about-contents a.active:focus {
            text-decoration: none;
        }
strong {
    font-family: var(--font-family-sans-serif);
}
.bbp-remember-me {
    margin-bottom: 0.625rem;
}
.bbp-remember-me label {
        width: auto;
    }
.bbp-submit-wrapper button {
  background-color: var(--color-orange);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.bbp-submit-wrapper button:focus, .bbp-submit-wrapper button:hover {
  background-color: var(--color-green-lightest);
        }
.button-default {
  background-color: var(--color-green-lightest);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.button-default:focus, .button-default:hover {
  background-color: var(--color-orange);
        }
.button-outline {
  background-color: var(--color-green-lightest);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.button-outline:focus, .button-outline:hover {
  background-color: var(--color-orange);
        }
.gform_button.button {
  background-color: var(--color-orange);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.gform_button.button:focus, .gform_button.button:hover {
  background-color: var(--color-green-lightest);
        }
.gform_submission_error {
    font-family: var(--font-family-sans-serif);
}
header {
    min-height: 6rem;
    position: relative;
    z-index: 1;
}
header .nav-language-switcher {
        border-right: 1px solid var(--color-green-lightest);
        margin-right: auto;
        padding-right: 1.5rem;
    }
h6 {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
h6::before {
  content: "";
  align-items: center;
  background-image: url("/app/themes/awasqa/assets/images/awasqa-symbol.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
        }
h6::after {
  content: "";
  border-top: 1px solid var(--color-orange);
  flex-grow: 1;
        }
.bbp-user-profile h2 {
  align-items: center;
  display: flex;
  gap: 0.5rem;
    }
.bbp-user-profile h2::before {
  content: "";
  align-items: center;
  background-image: url("/app/themes/awasqa/assets/images/awasqa-symbol.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
        }
.bbp-user-profile h2::after {
  content: "";
  border-top: 1px solid var(--color-orange);
  flex-grow: 1;
        }
.page-join-us-steps ol {
        counter-reset: li;
        list-style: none;
    }
.page-join-us-steps ol>li {
        font-weight: bold;
        margin-bottom: 2rem;
    }
.page-join-us-steps ol>li:before {
            background-color: var(--color-orange);
            content: counter(li);
            counter-increment: li;
            margin-right: 1rem;
            padding: 0.66rem 1rem;
        }
.page-join-us-steps ul {
        font-weight: normal;
        padding-left: 5rem;
    }
.awasqa-link-arrow {
  align-items: center;
  color: var(--color-green-lighter);
  display: inline-flex;
  text-decoration: none;
}
.awasqa-link-arrow::after {
  content: "";
  background-image: url("/app/themes/awasqa/assets/images/arrow-right-lighter.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 0.75rem;
  margin-left: 0.5rem;
  width: 1rem;
        }
.awasqa-link-arrow:hover,.awasqa-link-arrow:focus {
  text-decoration: underline;
        }
/* Alter margin-top on first block after the navbar */
.wp-site-blocks header + * {
        margin-top: 1.25rem;
    }
.wp-block-button.is-style-outline a,.wp-block-button.is-style-outline button {
  background: none;
  border: 1px solid var(--color-green) !important;
  border-radius: 0.25rem;
  color: var(--color-green);
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
    }
.wp-block-button.is-style-outline a:focus, .wp-block-button.is-style-outline a:hover, .wp-block-button.is-style-outline button:focus, .wp-block-button.is-style-outline button:hover {
  background-color: var(--color-green-lightest) !important;
        }
.wp-block-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    margin-bottom: 6rem;
    padding-left: 0;
}
.wp-block-categories a {
  background-color: var(--color-green-lightest);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
    }
.wp-block-categories a:focus, .wp-block-categories a:hover {
  background-color: var(--color-orange);
        }
.wp-block-categories a.active {
  background-color: var(--color-orange);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
    }
.wp-block-categories a.active:focus, .wp-block-categories a.active:hover {
  background-color: var(--color-green-lightest);
        }
.wp-block-post-featured-image {
    margin-bottom: 0.875rem;
}
.wp-block-post-featured-image img {
        border-radius: 0.5rem;
    }
.wp-block-post-excerpt__more-text {
    margin-top: 0.875rem;
}
.wp-block-post-title::before {
        background-size: cover;
        height: 50px;
        width: 50px;
    }
.awasqa-edit-organisation-action ul {
    margin: 0;
}
.awasqa-edit-organisation-action li {
    margin-top: 1rem;;
}
.awasqa-account-details-form {
    display: flex;
    flex-direction: column;
}
.awasqa-account-details-form button {
  background: none;
  border: 1px solid var(--color-green) !important;
  border-radius: 0.25rem;
  color: var(--color-green);
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
    }
.awasqa-account-details-form button:focus, .awasqa-account-details-form button:hover {
  background-color: var(--color-green-lightest) !important;
        }
.awasqa-account-details-form button {
        margin-right: auto;
}
.awasqa-account-details-form__row {
    align-items: center;
    background: var(--color-green-lightest);
    border-radius: 0.625rem;
    display: flex;
    margin-bottom: 1.875rem;
    padding: 1.25rem;
}
.awasqa-account-details-form__row label {
        margin-right: 0.25rem;
        width: 100px;
    }
.awasqa-account-details-form__row img {
        border-radius: 100%;
        height: 150px;
        margin-right: 0.25rem;
        -o-object-fit: cover;
           object-fit: cover;
        width: 150px;
    }
.awasqa-account-details-form__row input,.awasqa-account-details-form__row textarea {
        font-family: var(--font-family-sans-serif);
        font-size: 1rem;
        line-height: 1.2;
        padding: 0.5rem;
    }
.awasqa-account-details-form__row textarea {
        flex-grow: 1;
        height: 150px;
    }
.awasqa-author-column p {
        margin: 0 0 0.875rem 0;
    }
.awasqa-author-column a {
        text-decoration: none;
    }
.awasqa-author-column a:focus,.awasqa-author-column a:hover {
            text-decoration: underline;
        }
.awasqa-author-column__heading {
    align-items: center;
    display: inline-flex;
    margin-bottom: 0.875rem;
}
.awasqa-author-column__heading img {
        border-radius: 100%;
        height: 76px;
        margin-right: 1.25rem;
        width: 76px;
    }
.awasqa-author-column__heading h2 {
        font-size: 1.875rem;
        margin: 0;
    }
.awasqa-author-column__visit {
  align-items: center;
  color: var(--color-green-lighter);
  display: inline-flex;
  text-decoration: none;
}
.awasqa-author-column__visit::after {
  content: "";
  background-image: url("/app/themes/awasqa/assets/images/arrow-right-lighter.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 0.75rem;
  margin-left: 0.5rem;
  width: 1rem;
        }
.awasqa-author-column__visit:hover,.awasqa-author-column__visit:focus {
  text-decoration: underline;
        }
.awasqa-authors-column {
    margin-bottom: 5.625rem;
}
.awasqa-authors-column h6 {
        margin-top: 0;
    }
.awasqa-authors-column .awasqa-author-column {
        margin-bottom: var(--wp--style--block-gap);
    }
.awasqa-authors {
    display: flex;
    list-style: none;
    margin-bottom: 0.75rem;
    padding: 0;
}
.awasqa-authors li:not(:last-child) {
        align-items: center;
        display: flex;
    }
.awasqa-authors li:not(:last-child)::after {
            background-color: var(--color-orange);
            border-radius: 100%;
            content: "";
            display: inline-block;
            height: 0.5rem;
            margin-right: 0.5rem;
            width: 0.5rem;
        }
.awasqa-authors li:not(:last-child) a {
            margin-right: 0.5rem;
        }
.awasqa-authors a {
        text-decoration: none;
    }
.awasqa-authors a:hover,.awasqa-authors a:focus {
            text-decoration: underline;
        }
footer .wp-block-image img {
            vertical-align: middle;
        }
.awasqa-heading-link a {
  align-items: center;
  color: var(--color-green-lighter);
  display: inline-flex;
  text-decoration: none;
}
.awasqa-heading-link a::after {
  content: "";
  background-image: url("/app/themes/awasqa/assets/images/arrow-right-lighter.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 0.75rem;
  margin-left: 0.5rem;
  width: 1rem;
        }
.awasqa-heading-link a:hover,.awasqa-heading-link a:focus {
  text-decoration: underline;
        }
.awasqa-issue-link {
  background-color: var(--color-green-lightest);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.awasqa-issue-link:focus, .awasqa-issue-link:hover {
  background-color: var(--color-orange);
        }
.awasqa-issue-link {
    align-items: center;
    display: flex;
}
.awasqa-issue-link__title {
    margin-right: auto;
}
.awasqa-issue-link__more {
    margin-right: 0.5rem;
    text-transform: none;
}
.awasqa-join-us a {
  background: none;
  border: 1px solid var(--color-green) !important;
  border-radius: 0.25rem;
  color: var(--color-green);
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
    }
.awasqa-join-us a:focus, .awasqa-join-us a:hover {
  background-color: var(--color-green-lightest) !important;
        }
.awasqa-join-us p {
        margin-top: 0.625rem;
    }
.awasqa-org-contact-details {
    margin: 5rem 0;
}
.awasqa-org-contact-details h3 {
        font-size: 1.125rem;
        margin: 0;
        text-transform: none;
    }
.awasqa-org-contact-details a {
        align-items: center;
        display: flex;
        text-decoration: none;
    }
.awasqa-org-contact-details a:focus,
        .awasqa-org-contact-details a:hover {
            text-decoration: underline;
        }
.awasqa-org-contact-details__email {
    margin: 1rem 0 2.5rem;
}
.awasqa-org-contact-details__facebook::before, .awasqa-org-contact-details__twitter::before {
        content: "";
        background-image: url('/app/themes/awasqa/assets/images/facebook.svg');
        background-position: center;
        background-repeat: no-repeat;
        height: 24px;
        margin-right: 0.25rem;
        width: 24px;
    }
.awasqa-org-contact-details__facebook,.awasqa-org-contact-details__twitter {
    margin: 1rem 0;
}
.awasqa-org-contact-details__twitter::before {
        background-image: url('/app/themes/awasqa/assets/images/twitter.svg');
    }
.awasqa_organisation .wp-block-post-featured-image {
        background-color: #fff;
        border-radius: 0.5rem;
        box-sizing: border-box;
        display: flex;
        height: 75px;
        padding: 0.5rem;
        width: 75px;
    }
.awasqa_organisation .wp-block-post-featured-image img {
            border-radius: 0;
            height: 100%;
            margin: auto;
            -o-object-fit: contain !important;
               object-fit: contain !important;
        }
.awasqa_organisation .wp-block-post-excerpt__more-link {
  align-items: center;
  color: var(--color-green-lighter);
  display: inline-flex;
  text-decoration: none;
    }
.awasqa_organisation .wp-block-post-excerpt__more-link::after {
  content: "";
  background-image: url("/app/themes/awasqa/assets/images/arrow-right-lighter.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 0.75rem;
  margin-left: 0.5rem;
  width: 1rem;
        }
.awasqa_organisation .wp-block-post-excerpt__more-link:hover,.awasqa_organisation .wp-block-post-excerpt__more-link:focus {
  text-decoration: underline;
        }
.awasqa-organisation-authors {
    list-style: none;
    margin: 0;
    padding: 0;
}
.awasqa-organisation-authors li {
        margin-bottom: 2.25rem;
    }
.awasqa-organisation-column .wp-block-post-featured-image {
        background-color: #fff;
        border-radius: 0.5rem;
        box-sizing: border-box;
        display: flex;
        height: 100px;
        padding: 0.5rem;
        width: 100px;
    }
.awasqa-organisation-column .wp-block-post-featured-image img {
            border-radius: 0;
            height: 100%;
            margin: auto;
            -o-object-fit: contain !important;
               object-fit: contain !important;
        }
.awasqa-organisation-column .wp-block-post-title {
        font-size: var(--font-size-large);
    }
.single-post .awasqa-post-heading, .single-awasqa_event .awasqa-post-heading {
        margin-top: -6rem;
        padding: 0;
    }
.single-post .awasqa-post-heading a, .single-awasqa_event .awasqa-post-heading a {
            color: var(--color-yellow) !important;
        }
.single-post .wp-block-navigation-item__label, .single-awasqa_event .wp-block-navigation-item__label {
        color: var(--color-yellow) !important;
    }
.single-post .wp-block-loginout, .single-awasqa_event .wp-block-loginout {
        color: var(--color-yellow) !important;
    }
.awasqa-post-heading .wp-block-post-featured-image {
        height: 100%;
        position: relative;
    }
.awasqa-post-heading .wp-block-post-featured-image::before {
            content: "";
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 28.52%);
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
.awasqa-post-heading .wp-block-post-featured-image img {
            border-radius: 0;
            height: 100%;
            max-height: 600px;
            -o-object-fit: cover;
               object-fit: cover;
        }
.awasqa-post-heading >.wp-block-column:first-child {
        padding: 6rem 0 !important;
    }
/* No margin on block after post heading 
   to prevent gap between heading background
   and content background */
.awasqa-post-heading+* {
    margin-top: 0;
}
.awasqa-post-source {
    margin-bottom: 5.625rem;
}
.awasqa-post-source h6 {
        margin-top: 0;
    }
.awasqa-radical-resilience .wp-block-column:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
.awasqa-radical-resilience .wp-block-column:last-child {
        display: flex;
        flex-direction: column;
    }
.awasqa-radical-resilience .wp-block-column:last-child figure {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
        }
.awasqa-radical-resilience .wp-block-column:last-child img {
            flex: 1 0 0;
            min-height: 0;
            -o-object-fit: cover;
               object-fit: cover;
            width: 100%;
        }
.awasqa-radical-resilience a:first-child {
  background: none;
  border: 1px solid var(--color-green) !important;
  border-radius: 0.25rem;
  color: var(--color-green);
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
    }
.awasqa-radical-resilience a:first-child:focus, .awasqa-radical-resilience a:first-child:hover {
  background-color: var(--color-green-lightest) !important;
        }
.awasqa-radical-resilience a:first-child {
        margin-right: 1.25rem;
}
.awasqa-radical-resilience a:last-child {
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
  border-radius: 0.25rem;
  color: var(--color-yellow);
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
    }
.awasqa-radical-resilience a:last-child:focus, .awasqa-radical-resilience a:last-child:hover {
  background-color: var(--color-green-lightest);
  color: var(--color-green);
        }
.awasqa-related-posts {
    margin-bottom: var(--wp--preset--spacing--50);
    margin-top: -0.75rem;
}
